<%- include("partials/header") %>
    

    <% if (blogs.length > 0) { %>
        <main class="flex-grow-1 container py-4">
            <div class="row">
                <% blogs.forEach(blog => { %>
                    <div class="col-md-6 mb-4">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row shadow-sm h-100 position-relative">
                            
                            <div class="col p-4 d-flex flex-column position-static">  
                                <strong class="d-inline-block mb-2 text-primary-emphasis"> <%= blog.author %> </strong>
                                <h3 class="mb-0"> <%= blog.title %> </h3>
                                <div class="mb-1 text-body-secondary">Nov 12</div>
                                <p class="card-text mb-auto"> 
                                    <%= blog.content.length > 99 ? blog.content.slice(0, 99) + "..." : blog.content %> 
                                </p>

                                <div class="btn-group-sm mt-3" role="group" aria-label="Small button group">
                                    <button type="button" class="btn btn-options">View</button>
                                    <button type="button" class="btn btn-options">Edit</button>
                                    <button type="button" class="btn btn-options">Delete</button>
                                </div>
                            </div>

                            <div class="col-auto d-none d-lg-block">
                                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                            </div>
                        
                        </div>
                    </div>
                <% }) %>
            </div>
        </main>
    <% } else { %>
        <h2>Nothing to see here yet..</h2>
        <h3>..how about writing your first blog now!?</h3>
        <button type="button" class="btn btn-options">Compose</button>
    <% } %>

<%- include("partials/footer") %>